"*":
  "activate-power-mode":
    comboMode:
      enabled: false
  core:
    disabledPackages: [
      "activate-power-mode"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    scrollPastEnd: true
  "exception-reporting":
    userId: "adef30cd-35f0-da8d-856c-1888df2506a5"
  fonts:
    fontFamily: "Fira Mono"
  "gruvbox-plus-syntax":
    contrast: "Soft"
  minimap: {}
  "tree-view": {}
  "vim-mode-plus":
    highlightSearch: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
