packages: [
  "atom-beautify"
  "atom-jinja2"
  "gitignore-snippets"
  "highlight-line"
  "qolor"
  "vim-mode-plus"
  "vim-mode-plus-ex-mode"
  "language-docker"
  "language-gitignore"
  "language-scala"
  "language-clojure"
  "latex-completions"
  "merge-conflicts"
  "minimap"
  "pdf-view"
  "pretty-json"
  "sort-lines"
  "tabs-to-spaces"
  "xml-formatter"
  "pretty-json"
  "gruvbox-plus-syntax"
]
